{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- VIDEO SECTION & INTRO TEXT -->
{% include "includes/banner_video.html" %}
<!-- END OF VIDEO SECTION & INTRO TEXT -->

<!-- PRODUCTS SELECTED SECTION -->
{% include "includes/products_selected.html" %}
<!-- END OF PRODUCTS SELECTED SECTION -->

<!-- SLIDING TEXT BENNER-->
{% include "includes/sliding-text.html"%}
<!-- END OF SLIDING TEXT BANNER-->

<!-- ABOUT US SECTION-->
{% include "includes/about_us.html"%}
<!-- END OF ABOUT US SECTION-->

<!-- SERVICE REVIEW SECTION -->
{% include "includes/service_review.html" %}
<!-- END OF SERVICE REVIEW SECTION -->

<!-- NEWSLETTER BANNER -->
{% include "includes/newsletter.html"%}
<!-- END OF NEWSLETTER BANNER -->


{% endblock %}