{% load static %}

{% block content %}

<section class="news-letter" id="News-letter">
    <div class="news ">
        <div class="container">
            <h1 class="news-heading">Enjoy coffee with us!</h1>
            <p class="des how-de">Get exclusive news about the latest seasonal coffees and gain insight into the lives of the farmers who grow them with a
            lot of passion.</p>

            <form action="">
                <input type="email" maxlength="50" required placeholder="Enter your email address">
                <button class="bt">Subscribe</button>

            </form>
        </div>
    </div>

</section>

{% endblock %}

