{% load static %}

{% block content %}

<div class="position-relative marquee-container d-none d-sm-block">
    <div class="marquee d-flex justify-content-around">
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
    </div>
    <div class="marquee marquee2 d-flex justify-content-around">
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
        <span>Making coffee brighter</span>
        <span>//</span>
    </div>
</div>
{% endblock %}