{% load static %}

{% block content %}

<div class="position-relative marquee-container d-sm-block slider-display-desktop">
    <div class="marquee d-flex justify-content-around">
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
    </div>
    <div class="marquee marquee2 d-flex justify-content-around">
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
    </div>
</div>
<div class="position-relative marquee-container d-sm-block slider-display-mobile">
    <div class="marquee d-flex justify-content-around">
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>    
    </div>
    <div class="marquee marquee2 d-flex justify-content-around">
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
        <span>coffee brighter</span>
        <span>&nbsp;&nbsp;//&nbsp;&nbsp;</span>
    </div>
</div>
{% endblock %}