{% extends 'base.html' %} 
{% load static %} 

{% block page_header %}
<!-- BLOCK PAGE HEADER -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
<!-- END OF BLOCK PAGE HEADER -->
{% endblock %}

{% block content %}
<!-- PAGE  404 SECTION -->
<section id="page-404">
  <div class="container h-100 p-3">
    <div class="row h-100">
      <div class="col-mobile col-md-10 my-auto">
        <h1 class="text-er">PAGE NOT FOUND</h1>
        <p class="logo-font text-er">
          This coffe is unfortunately still<br/>
          not ready  
        </p>
        <div class="my-5">
          <a href="{% url 'products' %}" aria-label="Go back yo the add products page" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon er-bt"><i class="fas fa-chevron-left interactive-color"></i></span>
            <span class="text-uppercase er-bt">Return to Shop</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF  PAGE  404 SECTION -->
{% endblock %}